 <form #userForm="ngForm" class="login-form " (ngSubmit)="onSubmit()">
        <div class="agent_con">
            <div class="agent_con_">
                <span>业务员编号：</span>
                <input class="agentname" type="text" name="agentname"
                       [(ngModel)]="agent.username" required
                       placeholder="业务员编号"
                />
            </div>

            <div class="agent_con_">
                <span> 姓名： </span>
                <input class="username" type="text" name="username"
                       [(ngModel)]="agent.full_name"
                       placeholder="业务员姓名"
                />
            </div>
            <div class="agent_con_">
                <span> 手机号： </span>
                <input class="cellphone" type="text" name="cellphone"
                       [(ngModel)]="agent.cellphone" required
                       placeholder="业务员手机号"
                />
            </div>

            <div class="agent_con_">
                <span>密码： </span>
                <input class="cellphone" type="password" name="password"
                       [(ngModel)]="agent.password" required
                       placeholder="填写账号密码"
                />
            </div>
            <div class="agent_con_">
                <span>确认密码： </span>
                <input class="cellphone" type="password" name="password"
                       [(ngModel)]="pwdConfirm" required
                       placeholder="确认密码"
                       (blur)="confirm_pwd()"
                />
            </div>
            <div *ngIf="pwd_err">{{ pwd_err }}</div>
            <div class="agent_con_">
                <span>推荐人： </span>
                <input class="cellphone" type="password" name="password"
                       placeholder="推荐人手机号(选填)"
                />
            </div>

            <div class="agent_con_tf">
                <label>
                <span>正式员工</span>
                <input class="trueagent" type="checkbox" name="trueagent" checked="checked"
                       [(ngModel)]="agent.isEmployee"
                /></label>
                <label>
                <span>推荐资格</span>
                <input class="certification" type="checkbox" name="certification"
                       checked="checked"
                       [(ngModel)]="agent.hasRecommAuth"
                /></label>
            </div>
            <div class="agent_con_seven">
                <button type="submit" class="login" [disabled]="!userForm.valid">确认</button>
            </div>
        </div>
    </form>
 <div *ngIf="error">{{ error }}</div>


