*.pyc
*.log

b2b/migrations/*
console/migrations/*
meta/migrations/*
uprofile/migrations/*
utility/migrations/*
.idea/*


.idea/
mss/__pycache__/
static/src/app/js/
uprofile/__pycache__/
uprofile/migrations/__pycache__/
src/app/js/
