	<div class=wrap>
			<div class="agent_res">
				<img src="/static/src/assets/backstage1.jpg" alt="" />
			</div>
			<div class="agent_con">
				<span class="agent_con_top">创建业务员</span>

				<div class="agent_con_first">
				<span>业务员编号：</span>
				<input type="text" class="agentname" name="" id="agentname"/>
				</div>

				<div class="agent_con_second">
					<span> 姓名： </span>
					<input type="text" class="username" name="" id="username"/>
				</div>
			    <div class="agent_con_third">
					<span> 手机号： </span>
					<input type="text" class="cellphone" name="" id="cellphone"/>
				</div>

			    <div class="agent_con_fourth">
			    	<span>密码： </span>
					<input type="password" class="cellphone" name="" id="cellphone"/>
			    </div>

			    <div class="agent_con_fifth">
			    	<span>正式员工 ： </span>
			    	<input type="checkbox" class="trueagent" id="trueagent" />
			    </div>

			    <div class="agent_con_six">
			    	<span>推荐资格 ： </span>
			    	<input type="checkbox" class="certification" id="certification" />
			    </div>

				<div class="agent_con_seven">
			    	<button>确   认   创   建</button>
			    </div>



			</div>
		</div>

