<div class="wrap">
<form #userForm="ngForm" (ngSubmit)="onSubmit()">
        <img src="/static/src/assets/logo1.jpg"/>
        <div class="title">重置密码</div>
        <div class="inp">
            <span>手机号:</span>
            <input class="username" type="text"
                   placeholder="请输入手机号"
                   (keydown)="cleanerror()"
                   [(ngModel)]="user.username" required autofocus
                   minLength=11
                   maxLength=11
                   [ngModelOptions]="{standalone: true}"
            />
        </div>
        <div class="btn_wrap">
          <div class="form-group" [hidden]="!error">
            <span class="alert-danger">{{ error }}</span>
          </div>
            <button type="submit" class="btn" [disabled]="!userForm.valid">发送验证码</button>
        </div>

</form>
        <div class="inp">
            <span>验证码:</span>
            <input class="username" type="text"
                   placeholder="请输入验证码"
                   (keydown)="cleanerror()"
                   [(ngModel)]="smsCode" required
                   minLength=4
                   maxLength=4
                   [ngModelOptions]="{standalone: true}"
            />
        </div>
       <form #checkForm="ngForm" (ngSubmit)="onSubmit()">
        <button type="submit" class="next" [disabled]="!checkForm.valid">下一步</button>

        <div [hidden]="!error">
            <span>{{ error }}</span>
        </div>
    </form>

</div>
