<header>
    <a href=""></a>
    <div>修改密码</div>
</header>
<section>
    <div class="wrap">
        <form #pwdForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="title">修改密码</div>
            <div class="inp">
                <span>新密码:</span>
                <input class="new_pwd"
                       type="password"
                       name="new_pwd"
                       placeholder="请输入新密码"
                       [(ngModel)]="user.password" required
                       minLength=6
                       maxLength=12
                       [ngModelOptions]="{standalone: true}"
                />
            </div>
            <div class="inp">
                <span class="con">确认密码:</span>
                <input class="new_pwd"
                       type="password"
                       name="new_pwd2"
                       placeholder="请再次输入新密码"
                       [(ngModel)]="second_pwd" required
                       minLength=6
                       maxLength=12
                       [ngModelOptions]="{standalone: true}"
                />
            </div>
            <button type="button" class="next" [disabled]="!pwdForm.valid" (click)="changePwd()">确认修改</button>
        </form>
    </div>
</section>
