<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><span class="sr-only">(current)</span></li>
                <li><a [routerLink]="['profile']">Profile</a></li>
                <li><a [routerLink]="['password']">Password</a></li>
                <li><a [routerLink]="['contact']">Contacts</a></li>
                <li><a [routerLink]="['address']">Addresses</a></li>
                <li><a [routerLink]="['taxpayer']" *ngIf="userType==9">Taxpayer Info</a></li>
                <li><a [routerLink]="['notify']">Notification Center</a></li>
                <li><a [routerLink]="['delivery']">Delivery</a></li>

            </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <div class="row placeholders">
                <router-outlet></router-outlet>
            </div>


        </div>
    </div>
</div>
