<footer>
    <div class="bwrap">
        <button [class.active]="!whichOn" type="button" (click)="show('')">
            <i class="fa fa-home"></i>
            <span>首页</span>
        </button>
    </div>

    <div class="bwrap">
        <button [class.active]="whichOn==='store'" type="button" (click)="show('store')">
            <i class="fa fa-bank"></i>
            <span>我的店铺</span>
        </button>
    </div>

    <div class="bwrap">
        <button [class.active]="whichOn==='team'" type="button" (click)="show('team')">
            <i class="fa fa-group"></i>
            <span>我的团队</span>
        </button>
    </div>

    <div class="bwrap">
        <button  [class.active]="whichOn==='profile'" type="button" (click)="show('profile')">
            <i class="fa fa-address-card"></i>
            <span>个人资料</span>
        </button>
    </div>

</footer>


