<footer>
    <div class="bwrap">
        <button type="button" class="login" (click)="show('')">
            <i class="fa fa-address-card"></i>首页
        </button>
    </div>


    <div class="bwrap">
        <button type="button" class="login" (click)="show('stores')">
            <i class="fa fa-address-card"></i>我的店铺
        </button>
    </div>


    <div class="bwrap">
        <button type="button" class="login" (click)="show('team')">
            <i class="fa fa-address-card"></i>我的团队
        </button>
    </div>

    <div class="bwrap">
        <button type="button" class="login" (click)="show('profile')">
            <i class="fa fa-address-card"></i>个人资料
        </button>
    </div>

</footer>


