
header {
  width: 100%;
  height: 1.92rem;
  background: url(/static/src/assets/header.jpg) no-repeat;
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 1.92rem;
  font-size: 0.7rem;
  text-align: center;
  color: #fff;
}

header i {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1.8rem;
  font-size: 1.8rem;
  line-height: 1.9rem;
  color: #fff;
}

header div {
  margin: auto;
}

section {
  margin-top: 1.92rem;
  min-height: 19.8rem;
  width: 100%;
  background: url(/static/src/assets/my_bg.jpg) no-repeat;
  background-size: 100%;
  padding-top: 0.62rem;
  box-sizing: border-box;
}

.wrap {
  width: 12.28rem;
  margin: 1.6rem auto 0;
  text-align: center;
}

.wrap .title {
  margin: 1.12rem 0 0.98rem;
  width: 100%;
  font-size: 0.84rem;
  height: 0.84rem;
  line-height: 0.84rem;
  color: #519FF2;
}

.wrap .inp {
  height: 1.2rem;
  width: 100%;
  margin-bottom: 0.74rem;
  color: #519FF2;
  overflow: hidden;
}

.wrap .inp span {
  float: left;
  font-size: 0.64rem;
  line-height: 1.2rem;
  letter-spacing: 0.14rem;
}

.wrap .inp span.con {
  letter-spacing: 0;
}

.wrap .inp input {
  box-sizing: border-box;
  float: right;
  width: 9.2rem;
  height: 100%;
  text-indent: 0.52rem;
  border: 1px solid #6CB4FE;
  border-radius: 0.24rem;
}

.wrap .next {
  margin: 2.2rem auto 0;
  width: 11.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  background-color: #4FA0F2;
  color: #fff;
  border-radius: 0.36rem;
  text-align: center;
  letter-spacing: 0.66rem;
  text-indent: 0.33rem;
  font-size: 0.62rem;
}

.photo-cover {
  display: none;
  background: url(/static/src/assets/change_back.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 23.6rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.8;
  -moz-opacity: 0.8;

}

.success_wrap {
  width: 11.6rem;
  height: 4.6rem;
  background-color: rgba(0, 0, 0, .28);
  border-radius: 0.4rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 1.16rem;
  line-height: 4.6rem;
  text-align: center;
  color: #3985F7;
}

.success_wrap .t {
  /*display: inline-block;*/
  padding-left: 1.2rem;
  background: url(/static/src/assets/change_su.png) no-repeat 0 0.35rem;
}

.fa-close {
  position: absolute;
  right: 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.92rem;
  background-color: #3373F9;
}

footer a {
  float: left;
  width: 25%;
  height: 1.48rem;
  margin: 0.26rem 0 0.18rem;
  color: #fff;
}

footer .footer_fourth {
  color: #FAA76F;
}

footer a .bwrap {
  width: 100%;
  height: 1.48rem;
  margin: 0 auto;
}

footer .bwrap i {
  display: block;
  width: 100%;
  height: 0.82rem;
  margin-bottom: 0.2rem;
  text-align: center;
  font-size: 0.9rem;
}

footer .bwrap span {
  display: block;
  width: 100%;
  height: 0.46rem;
  line-height: 0.46rem;
  text-align: center;
  font-size: 0.46rem;
  transform: scale(0.9);
}
