<header>
    <span>个&nbsp;人&nbsp;资&nbsp;料</span>
    <i (click)="torf = true"></i>
</header>
<section>
    <div class="info_reward" *ngIf="torf">
        <div class="clo" (click)="torf = false">X</div>
        <div class="con">
            <div>佣金管理办法是业务员佣金计算的基础，佣金管理办法给出佣金计算的策略、基数、周期，以及佣金发放方式等。</div>
            <div>在佣金计算过程中，涉及如下一些条件和参数：有效店铺：当已注册店铺满两次订货，店铺即为有效店铺；推荐资格：系统中注册成功的业务员初始时并不具备推荐资格，即业务员不能作为推荐人引荐其他人在系统中注册成为业务员。业务员的推荐资格可以通过两种方式获得
            —1、系统后台直接设定业务员有推荐资格；2、业务员维护/拓展店铺中，有两家以上有效店铺，则该业务员自动拥有推荐资格；</div>
            <div>拓店奖金：当业务员所维护店铺转为有效店铺时，则公司给予业务员拓店奖励，即拓店奖金（暂定为100/店），其中业务员的最后一个有效店铺数不参与佣金计算（即压一个有效店铺）；</div>
            <div>育成奖金：当业务员所推荐的业务员（即该业务员是其发展业务员的推荐人时，暂且称之为子业务员）得到拓店奖金时，该业务员自动获得育成奖（暂定为50/店，即其子业务员拓店奖金的50%）；</div>
            <div>增部奖金：当业务员所发展的业务员也发展了业务员（比如孙业务员），如果业务员的孙业务员获得拓店奖金，该业务员自动获得增部奖金（暂定为25/店，即其孙业务员拓店奖金的25%）。</div>
        </div>
    </div>
    <div class="photo">
        <div class="pic"></div>
    </div>
    <div class="info">
        <div class="info_list">
            <div class="fl list_left">用户名：</div>
            <div class="fl list_right username">{{ profile.full_name }}</div>
        </div>
        <div class="info_list">
            <div class="fl list_left">编<i></i>码：</div>
            <div class="fl list_right num">{{ username }}</div>
        </div>
        <div class="info_list">
            <div class="fl list_left">手机号：</div>
            <div class="fl list_right order_counts">{{ profile.cellphone }}</div>
        </div>
        <div class="info_list">
            <div class="fl list_left">推荐人：</div>
            <div class="fl list_right order_money">{{ profile.parent_code }}</div>
        </div>
        <div class="info_list">
            <div class="fl list_left">推荐资格：</div>
            <div class="fl list_right brokerage">{{ hasRecommAuth }}</div>
        </div>
    </div>
    <div class="btn_a">
        <a class="fl change_pwd" routerLink="../password">修改密码</a>
        <button type="button" class="fr log_out" (click)="logout()">退出登录</button>
    </div>
</section>
