<div class="wrap">
    <img src="/static/src/assets/logo1.jpg"/>
    <div class="title">注册信息</div>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="inp">
            <span class="aln"><span>账</span><span></span><span>号</span>:</span>
            <div class="username" *ngIf="registration">
                <span>{{ registration.cellphone }}</span>
            </div>
        </div>
        <div class="inp">
            <span class="aln"><span>昵</span><span></span><span>称</span>:</span>
            <input class="username" type="text" name="username"
                   placeholder="昵称"
                   (keydown)="cleanerror()"
                   [(ngModel)]="registration.full_name" required autofocus
                   minLength=0
                   maxLength=50
            />
        </div>
        <div class="inp">
            <span class="aln"><span>密</span><span></span><span>码</span>:</span>
            <input class="password" type="password" name="password"
                   placeholder="请输入密码"
                   [(ngModel)]="registration.password" required
                   minLength=6
                   maxLength=12
            />
        </div>
        <div class="inp">
            <span class="con"><span>确认密码</span>:</span>
            <input class="conp" type="password" name="password2"
                   placeholder="请再次输入"
                   [(ngModel)]="second_pwd" required
                   minLength=6
                   maxLength=12
            />
        </div>

        <div class="inp">
            <span>推荐人:</span>
            <input class="pnum" type="text" name="refereecode"
                   placeholder="业务员编号"
                   [(ngModel)]="registration.parentCode" required
                   (blur)="getAgentName()"
                   (keydown)="cleanerror()"
                   minLength=2
                   maxLength=6
            />
        </div>

        <div class="inp" *ngIf="agents">
            <select class="pname" name="referee" [(ngModel)]="registration.parentCode">
                <option *ngFor="let agent of agents" [value]="agent.user.username">{{ agent.full_name }}</option>
            </select>
        </div>

        <button type="submit" class="next" [disabled]="!registration.parent">注册</button>
        <div [hidden]="!error">
            <span>{{ error }}</span>
        </div>

    </form>
</div>
