<div class="wrap">
			<header>

				<div class="head_right"> 我&nbsp;的&nbsp;店&nbsp;铺 </div>
			</header>


		<section>

		<ul class="mystore">
			<li class="mystoreL">

				<div id="mystoreL_c" [class.mystoreL_con]="onActive" (click)="decide(true)">
					<img src="/static/src/assets/index4.png"/>
					<div class="mystoreL_con_one">有效店铺</div>
					<span class="mystoreL_con_num">70</span>
					<span class="mystoreL_con_two">家</span>
				</div>

			</li>
			<li class="mystoreR">

				 	<div id="mystoreL_c" [class.mystoreL_con]="!onActive" (click)="decide(false)">
				 		<img src="/static/src/assets/index8.png"/>
				 		<div class="mystoreR_con_one">开单店铺</div>
					    <span class="mystoreR_con_num">8</span>
					    <span class="mystoreR_con_two">家</span>
				 	</div>


			</li>
		</ul>

			<div class="middel">
				<ul class="store_list">
					<li> <span> 1</span> .北京大兴区富康路188号   > </li>



				</ul>
			</div>

	</section>


</div>






