
.wrap {
  background: url(/static/src/assets/myteam.jpg) no-repeat;
}

header {
  width: 100%;
}

.head_right {
  height: 1.92rem;
  background: url(/static/src/assets/header.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  text-align: center;
  line-height: 1.92rem;
  font-size: 0.7rem;
  color: #fff;

}

.none-things {
  width: 100%;
  height: 0.6rem;
  background-color: #E6F9FF;
}

.store_num {
  width: 100%;
  height: 4.5rem;
  background-color: white;
}

.store_numL {
  margin-left: 15%;
  float: left;
}

.store_numL img {
  max-width: 30%;
  max-height: 50%;
}

.store_numR {
  float: right;
}

.store_numR img {
  max-width: 60%;
  max-height: 50%;
}

.mystoreL {
  float: left;
  width: 50%;
  background-color: #ffffff;
}

.store_numL img {
  max-width: 60%;
  max-height: 50%;
}

.mystoreL_con_one {
  font-size: 0.48rem;
  color: #148DBC;
}

.mystoreL_con_num {
  font-size: 0.9rem;
  color: #FB8852;
}

.mystoreL_con_two {
  font-size: 0.9rem;
  color: #6098EE;
}

.mystoreR {
  float: right;
  width: 50%;
  background-color: #ffffff;
}

.mystoreR_con {
  width: 35%;
  margin-left: 28%;
  padding-left: 6%;
  background-color: #b7e3f0;
}

section {
  background: url(/static/src/assets/myteam.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 13rem;
}

.head_middel {
  width: 94%;
  margin-left: 2.5%;
  border: 1px blue solid;
}

.head_store {
  background-color: #ffffff;
  opacity: 0.8;
}

.middel {
  height: 16rem;
  overflow: auto;
  width: 94%;
  margin-left: 2.5%;
  border: 1px blue solid;
}

.store_list table {
  border: 1px blue solid;
}

.head_store table {
  text-align: center;
  color: #4FA0F2;
  background-color: #ffffff;
  width: 100%;
}
.head_store .head_table th{text-align: center}
.store_list table {
  text-align: left;
  color: #4FA0F2;
  background-color: #ffffff;
}

.store_list table tr th {
  text-align: center;
}

.store_list table thead tr th {
  border-bottom: 1px solid #5E9BDC;
}

.store_list table tr td {
  text-align: center;
  border: 0;
}

.store_list table tr {
  border-bottom: 1px solid #b7e3f0;
  font-size: 0.6rem;
}

.head_table tr th select {
  width: 0.6rem;
  height: 0.8rem;
  border-radius: 0.9rem;
}

.store_list table tr th select {
  width: 0.9rem;
  height: 0.8rem;
  border-radius: 0.9rem;

}

.head_table tr th select option {
  width: 1.3rem;
  height: 0.8rem;

}

.store_list table tr th select option {
  width: 1.3rem;
  height: 0.8rem;

}

.fir {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sec {
  width: 30%;
}

.thi {
  width: 30%;
}



