<div class="wrap">
    <header>
        <div class="head_right"> 我&nbsp;的&nbsp;店&nbsp;铺</div>
        <div class="none-things"></div>
        <div class="store_num">
            <div class="store_numL">
                <img src="/static/src/assets/index4.png"/>
                <div class="mystoreL_con_one">有效店铺</div>
                <span>{{ commLen }}</span>
                <span class="mystoreL_con_num">家</span>
            </div>
            <div class="store_numR">
                <img src="/static/src/assets/index8.png"/>
                <div class="mystoreL_con_one"> 非有效店铺</div>
                <span>{{ uncommLen }}</span>
                <span class="mystoreL_con_num">家</span>
            </div>
        </div>
        <div class="none-things"></div>


        <div class="head_middel">
            <ul class="head_store">
                <table class="head_table">
                    <thead>
                    <tr>
                        <th class="fir">店名</th>
                        <th class="sec">店主</th>
                        <th class="thi">状态
                            <select class="option_1"
                                    (change)="filterStores(selectedStatus)"
                                    [(ngModel)]="selectedStatus">
                                <option *ngFor="let opt of statuslst" [value]="opt.code">
                                    {{ opt.value }}
                                </option>
                            </select>
                        </th>
                    </tr>
                    </thead>
                </table>
            </ul>
        </div>
    </header>
    <section>
        <div class="middel">
            <ul class="store_list">
                <table class="table">
                    <tbody>
                    <tr *ngFor="let store of sortedStores" (click)="detail(store.name);">
                        <td class="fir">{{ store.name }}</td>
                        <td class="sec">{{ store.owner }}</td>
                        <td class="thi">{{ store.status }}</td>
                    </tr>
                    </tbody>
                </table>
            </ul>
        </div>
    </section>
</div>






