<div class="wrap">
    <header>
        <div class="head_right"> 我&nbsp;的&nbsp;店&nbsp;铺</div>
        <div class="none-things"></div>

      <ul class="mystore">
            <li class="mystoreL">

                <div id="mystoreL_c">
                    <img src="/static/src/assets/index4.png"/>
                    <div class="mystoreL_con_one">有效店铺</div>
                    <span class="mystoreL_con_num">{{ commLen }}</span>
                    <span class="mystoreL_con_two">家</span>
                </div>

            </li>
            <li class="mystoreR">

                <div id="mystoreL_c" >
                    <img src="/static/src/assets/index8.png"/>
                    <div class="mystoreR_con_one">非有效店铺</div>
                    <span class="mystoreR_con_num">{{ uncommLen }}</span>
                    <span class="mystoreR_con_two">家</span>
                </div>
            </li>
        </ul>
    </header>


    <section>

        <div class="middel">
            <ul class="store_list">
                <table class="table">
                    <thead>
                    <tr>
                        <th>店名</th>
                        <th>店主</th>
                        <th>状态
                           <select>
                              <option value="volvo">有效</option>
                              <option value="saab">非有效</option>
                              <option value="opel">待审核</option>
                              <option value="audi">时间排序</option>
                            </select>



                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let store of stores">
                        <td>{{ store.name }}</td>
                        <td>{{ store.owner }}</td>
                        <td>
                            {{ store.status}}</td>
                    </tr>
                    </tbody>
                </table>
            </ul>
        </div>

    </section>
</div>






