
.wrap{
	background:url(/static/src/assets/myteam.jpg) no-repeat;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.head_right{
  height: 1.92rem;
  background: url(/static/src/assets/header.jpg) no-repeat;
  background-size: 100%;
	width:100%;
	text-align:center;
  line-height: 1.92rem;
  font-size: 0.7rem;
  color: #fff;

}
.none-things{
  width:100%;
  height:0.6rem;
  background-color:#b7e3f0;
}
section {
	background:url(/static/src/assets/myteam.jpg) no-repeat;
    background-size: 100%;
    margin: 1.92rem 0;
    width: 100%;
    min-height:22.42rem;
}

.mystore{
      position:absolute;
			width:100%;
			height:4rem;
		}
		.mystoreL{
			float:left;
			width:50%;
			background-color:#ffffff;

		}
    #mystoreL_c{
			width:90%;
			margin-left:28%;
			padding-left:6%;
    }
		#mystoreL_c img{
			max-width:30%;
			max-height:50%;
		}

		.mystoreL_con_one{
			font-size: 0.48rem;
            color: #148DBC;
		}
		.mystoreL_con_num{
			font-size: 0.9rem;
      color: #FB8852;
		}
		.mystoreL_con_two{
			font-size: 0.9rem;
      color: #6098EE;
		}
		.mystoreR{
			float:right;
			width:50%;
			background-color:#ffffff;
		}
		.mystoreR_con{
			width:35%;
			margin-left:28%;
			padding-left:6%;
			background-color:#b7e3f0;
		}
		.mystoreR_con img{
			max-width:90%;
			max-height:50%;
		}
		.mystoreR_con_one{
			font-size: 0.48rem;
            color: #148DBC;
		}
		.mystoreR_con_num{
			font-size: 0.9rem;
      color: #FB8852;
		}
		.mystoreR_con_two{
			font-size: 0.9rem;
      color: #6098EE;
		}

.middel{
  padding-top:25%;
  margin-top:1rem;
  width:95%;
  margin-left:2.5%;
}

.store_list{
  margin-top:8%;
}


.store_list table{
	text-align:center;
	color:#4FA0F2;
	margin:0.3rem 0;
	padding:0.3rem 0;
	background-color:#ffffff;
	font-size:0.1rem;
}
.store_list table tr th{
  text-align:center;
  font-size:0.1rem;
}
.store_list table thead tr th{
  border-bottom:1px solid #5E9BDC;
  font-size:0.1rem;
}
.store_list table tr td{
  text-align:center;
  border:0;
  font-size:0.1rem;
}
.store_list table tr{
  border-bottom:1px solid #b7e3f0;
  font-size:0.1rem;

}
.store_list table tr th select{
  width:0.6rem;
  height:0.8rem;
  border-radius:0.9rem;
  font-size:0.1rem;

}
.store_list table tr th select option{
  width:1.3rem;
  height:0.8rem;
  font-size:0.1rem;
}




