.wrap{
	background:url(/static/src/assets/myteam.jpg) no-repeat;
}

header {
  width: 100%;
}

.head_right{
  height: 1.92rem;
  background: url(/static/src/assets/header.jpg) no-repeat;
  background-size: 100%;
	width:100%;
	text-align:center;
  line-height: 1.92rem;
  font-size: 0.7rem;
  color: #fff;

}

.none-things{
  width:100%;
  height:0.6rem;
  background-color:#E6F9FF;
}

.store_num{
  width:100%;height:3.5rem;background-color:white;
}

.store_numL{
  width:49%;
  float:left;
}
.store_numL_c{
  width:90%;
			margin-left:28%;
			padding-left:6%;
}
.store_numL_c img{
  max-width:30%;
			max-height:50%;
}
	.mystoreL_con_one{
			font-size: 0.48rem;
            color: #148DBC;
		}
		.mystoreL_con_num{
			font-size: 0.9rem;
      color: #FB8852;
		}
		.mystoreL_con_two{
			font-size: 0.9rem;
      color: #6098EE;
		}

.store_numR{
  width:49%;float:right;
}
.store_numR_c{
  width:90%;
  margin-left:28%;
  padding-left:6%;
}
.store_numR_c img{
   max-width:30%;
   max-height:50%;
}
.head-middel{
  width:94%;
  margin-left:2.5%;
  opacity:0.8;
}

section {
	background:url(/static/src/assets/myteam.jpg) no-repeat;
    background-size: 100%;
    width: 100%;
}

.middel{
   height:16rem;
   overflow:auto;
  opacity:0.8;
  width:94%;
  margin-left:2.5%;
  border:1px solid blue;
}

.head-store-list-table{

  width:100%;
  border:1px blue solid;
	text-align:center;
	color:#4FA0F2;
	background-color:#ffffff;
}
.head-store-list-table tr th{
  text-align:center;
}

.option_1{
  width:0.8rem;
  height:0.8rem;
  border-radius:0.8rem;
}
.store_list_table{
  width:100%;
  border:1px blue solid;
	text-align:center;
	color:#4FA0F2;
	background-color:#ffffff;
}
.store_list table tr th{
  text-align:center;

}
.store_list table thead tr th{
  border-bottom:1px solid #5E9BDC;

}
.store_list table tr td{
  text-align:center;
  border:0;

}
.store_list table tr{
  border-bottom:1px solid #b7e3f0;
  font-size:0.55rem;

}
.store_list table tr th select{
  width:0.6rem;
  height:0.8rem;
  border-radius:0.9rem;


}
.store_list table tr th select option{
  width:1.3rem;
  height:0.8rem;

}
