<div class="wrap">
    <header>
        <div class="head_right"> 我&nbsp;的&nbsp;店&nbsp;铺</div>
        <div class="none-things"></div>
        <div class="store_num" style="width:100%;height:4.5rem;background-color:white;">
           <div class="store_numL" style="width:49%;float:left">

              <img src="/static/src/assets/index4.png"/>
              <div>有效店铺</div>
              <span>{{ commLen }}</span>
              <span>家</span>
           </div>
           <div class="store_numR" style="width:49%;float:right">
               <img src="/static/src/assets/index8.png"/>
               <div>非有效店铺</div>
              <span>{{ uncommLen }}</span>
              <span>家</span>
           </div>
        </div>
         <div class="none-things"></div>


      <div class="head-middel">
        <ul class="store-head">
          <table class="head-table">
            <thead>
            <tr>
              <th>店名</th>
                        <th>店主</th>
                        <th>状态
                            <select class="option_1" (change)="filterStores(opt.value)">
                                <option *ngFor="let opt of storeStatus" [value]="opt.value">
                                    {{ opt.value }}
                                </option>
                            </select>
            </tr>
             </thead>
          </table>
        </ul>
      </div>
    </header>
    <section>

        <div class="middel" style="height:10rem;overflow:auto;opacity:0.8;">
            <ul class="store_list">
                <table class="table" style="border:1px blue solid;background-color:rgb(255,255,255)">
                    <thead>
                    <tr>
                        <th>店名</th>
                        <th>店主</th>
                        <th>状态
                            <select class="option_1" (change)="filterStores(opt.value)">
                                <option *ngFor="let opt of storeStatus" [value]="opt.value">
                                    {{ opt.value }}
                                </option>
                            </select>
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let store of sortedStores">
                        <td>{{ store.name }}</td>
                        <td>{{ store.owner }}</td>
                        <td>
                            {{ store.status }}</td>
                    </tr>
                    </tbody>
                </table>
            </ul>
        </div>

    </section>
</div>






