header {
  width: 100%;
  height: 1.92rem;
  background: url(/static/src/assets/header.jpg) no-repeat;
  background-size: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  line-height: 1.92rem;
  font-size: 0.7rem;
  text-align: center;
  color: #fff;
}

header i {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1.8rem;
  font-size: 1.8rem;
  line-height: 1.9rem;
  color: #fff;
}

header div {
  margin: auto;
}

section {
  margin: 1.92rem 0;
  width: 100%;
  background: url(/static/src/assets/myteam.jpg) repeat-y;
  background-size: 100%;
  box-sizing: border-box;
  padding-top: 0.28rem;
  overflow: auto;
}

section .photo {
  width: 4.8rem;
  height: 4.8rem;
  margin: 0 auto 0.58rem;
  border: 1px solid #CDDAFC;
  border-radius: 50%;
}

section .photo .pic {
  width: 4.4rem;
  height: 4.4rem;
  box-sizing: border-box;
  border: 1px solid #346EF7;
  border-radius: 50%;
  position: relative;
  top: 0.2rem;
  left: 0.2rem;
  overflow: hidden;
}
section .pic img{
  width: 100%;
}

section .info {
  width: 14.02rem;
  height: 13.5rem;
  margin: 0.58rem auto 0;
  background-color: #fff;
  color: #4FA0F2;
  font-size: 0.72rem;
  box-sizing: border-box;
  padding-top: 0.8rem;
}

section .info .infoList {
  box-sizing: content-box;
  width: 13rem;
  line-height: 0.92rem;
  padding: 0.4rem 0;
  border-bottom: 1px solid #71D0FC;
  margin: 0 auto 0.28rem;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
    display: -webkit-box;
}
section .info .infoList .address {
  text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
width: 10rem;
}
section .infoList span {width: 0.4rem;}

section .infoList .listTitle {
  width: 2.6rem;
  height: 100%;
  letter-spacing: 0.28rem;
}

section .listTitle i {
  display: inline-block;
  width: 0.9rem;
  height: 0.5rem;
}

section .infoList .data {
  color: #78A6F4;
}

section .coord {
  padding: 0.1rem 0.05rem 0.1rem 0.18rem;
  background-color: #6AD6F9;
  letter-spacing: 0.1rem;
  color: #fff;
  font-size: 0.58rem;
  border-radius: 0.2rem;
  position: absolute;
  right: 0;
}

section #four,
section #five {
  letter-spacing: 0rem;
}
