<header>
    <a href="#"></a>
    <div>店铺详情</div>
</header>
<section>
    <div class="photo">
        <div class="pic"></div>
    </div>
    <div class="info">
        <div class="infoList">
            <div class="listTitle">店铺名</div>
            <span>：</span>
            <div class="data">{{ store.name }}</div>
        </div>
        <div class="infoList">
            <div class="listTitle">地<i></i>址</div>
            <span>：</span>
            <div class="address">{{ store.address }}</div>
        </div>
        <div class="infoList">
            <div class="listTitle">电<i></i>话</div>
            <span>：</span>
            <div class="tel">{{ store.cellphone }}</div>
        </div>
        <div class="infoList">
            <div class="listTitle four">入驻时间</div>
            <span>：</span>
            <div class="date">{{ store.created_dt|date }}</div>
        </div>
    </div>
</section>
