<header>
    <a href="#"></a>
    <div>店铺详情</div>
</header>
<section>
    <div class="photo">
        <div class="pic"></div>
    </div>
    <div class="info">
        <div class="infoList">
            <div class="listTitle">店铺名</div>
            <span>：</span>
            <div class="data">11</div>
        </div>
        <div class="infoList">
            <div class="listTitle">地<i></i>址</div>
            <span>：</span>
            <div class="address">aaaaa</div>
        </div>
        <div class="infoList">
            <div class="listTitle">电<i></i>话</div>
            <span>：</span>
            <div class="tel">aaaaa</div>
        </div>
        <div class="infoList">
            <div class="listTitle">下单数</div>
            <span>：</span>
            <div class="order_counts">11</div>
        </div>
        <div class="infoList">
            <div class="listTitle four">入驻时间</div>
            <span>：</span>
            <div class="date">11</div>
        </div>
        <div class="infoList">
            <div class="listTitle">备<i></i>注</div>
            <span>：</span>
            <div class="message">aaaaa</div>
        </div>
    </div>
</section>
