<header>
    <i href="" (click)="goBack()"></i>
    <div> 团 队</div>
</header>
<section>
    <div class="team_list" *ngFor="let team of teamList">
        <div class="fl list_left">
            <div class="photo_wrap">
                <img class="photo" src="/static/src/assets/logo1.jpg"/>
                <div class="name">{{ team.agent }}</div>
            </div>
        </div>
        <div class="fl list_right">
            <div class="r_content">
                <div class="con_up">
                    <div>
                        <span class="title">有效店铺</span>
                        <span class="num">{{ team.double_cnt }}</span>
                        <span class="u">家</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
