<header>
    <div> 我 的 团 队</div>
</header>
<section>
    <div class="team_list" *ngFor="let team of teamList">
        <div class="fl list_left">
            <div class="photo_wrap">
                <img class="photo" src="/static/src/assets/logo1.jpg"/>
                <div class="name">{{ team.agent.username }}</div>
            </div>
        </div>
        <div class="fl list_right">
            <div class="r_content">
                <div class="con_up">
                    <div>
                        <span class="title">有效店铺</span>
                        <span class="num">{{ team.double_cnt }}</span>
                        <span class="u">家</span>
                    </div>
                    <div>
                        <span class="title">下单店铺</span>
                        <span class="num">{{ team.ordered_cnt }}</span>
                        <span class="u">家</span>
                    </div>
                </div>
                <div class="con_down">
                    <div>
                        <span class="title">店铺下单</span>
                        <span class="num">{{ team.order_cnt }}</span>
                        <span class="u">单</span>
                    </div>
                    <div>
                        <a class="downline" routerLink="../downLine"><span class="title">下线<i></i></span>
                            <span class="num">{{ team.subagent_cnt }}</span>
                            <span class="u">人</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
