<div [hidden]="toChangPwd||isSuccessful">
    <header>个&nbsp;人&nbsp;资&nbsp;料</header>
    <section>
        <div class="photo">
            <div class="pic"></div>
        </div>
        <div class="info">
            <div class="info_list">
                <div class="fl list_left">用户名：</div>
                <div class="fl list_right username">{{ profile.full_name }}</div>
            </div>
            <div class="info_list">
                <div class="fl list_left">编<i></i>码：</div>
                <div class="fl list_right num">{{ username }}</div>
            </div>
            <div class="info_list">
                <div class="fl list_left">手机号：</div>
                <div class="fl list_right order_counts">{{ profile.cellphone }}</div>
            </div>
            <div class="info_list">
                <div class="fl list_left">推荐人：</div>
                <div class="fl list_right order_money">{{ profile.parent_code }}</div>
            </div>
            <div class="info_list">
                <div class="fl list_left">推荐资格：</div>
                <div class="fl list_right brokerage">{{ hasRecommAuth }}</div>
            </div>
        </div>
        <div class="btn_a">
            <button type="button" class="fl change_pwd" (click)="toChangPwd=!toChangPwd">修改密码</button>
            <a routerLink="../dashboard/" routerLinkActive="active" class="fr log_out">
                退出登录
            </a>
        </div>
    </section>
</div>

<chng-pwd [hidden]="!toChangPwd" [showChng]="toChangPwd" (changed)="changePwd($event)"></chng-pwd>

<footer>

    <a routerLink="../dashboard" routerLinkActive="active" class="footer_first">
        <div class="bwrap">
            <i class="fa fa-home"></i>
            <span>首页</span>
        </div>
    </a>

    <a routerLink="../sales-center" routerLinkActive="active" class="footer_second">
        <div class="bwrap">

            <i class="fa fa-bank"></i>
            <span>我的店铺</span>


        </div>
    </a>
    <a routerLink="../store-center" routerLinkActive="active" class="footer_th">
        <div class="bwrap">


            <i class="fa fa-group"></i>
            <span>我的团队</span>

        </div>
    </a>

    <a routerLink="../personal-info" routerLinkActive="active" class="footer_fourth">
        <div class="bwrap">

            <i class="fa fa-address-card"></i>
            <span>个人资料</span>

        </div>
    </a>

</footer>

