.wrap {
  width: 100%;
  min-height: 45rem;
  background-color: #f2f3f5;
  padding-top: 26px;
}

.wrap img {
  position: absolute;
  left: 0;
  top: 0;
}

.agent-table {
  width: 100%;
  background-color: #ffffff;

}


.table_wrap {
  margin: 0 auto;
  background-color: #ffffff;
  padding-bottom: 1%;
  width: 90%;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;

}
#customers td button{
  padding: 0 4px;
  border-radius: 3px;
}
#customers td input{
  border-radius: 3px;
  width: 100%;
}
#customers td button:nth-child(1){
  background-color: lightcyan;
}
#customers td button:nth-child(2){
  background-color: crimson;
}
#customers td button:nth-child(3){
  background-color: orange;
}
#customers th {
  border: 1px solid #e2eafa;
  font-size: 16px;
}

#customers td, #customers th {
  line-height: 30px;
  font-size: 16px;
  border: 1px solid #f2f3f5;
  padding: 3px 7px 2px 7px;
}

#customers th {
  font-size: 16px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #318ce5;
  color: #ffffff;
}

#customers tr.alt td {
  color: #000000;
  background-color: white;
}

.page {
  margin-top: 20px;
  width: 100%;
  height: 50px;
}

.pagination-flickr {
  height: 40px;
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.pagination-flickr a,
.pagination-flickr .pages{
  float: left;
}
.pagination-flickr a{
  text-decoration: none;
  padding: 3px;
  border-radius: 3px;
  margin: 0 3px;
}
.pagination-flickr a:hover{
  color: orange;
}
.pagination-flickr .pages{padding: 0 15px;}
.pagination-flickr .pages a{
  color: #318ce5;
  background-color: transparent;
}
.pagination-flickr .pages a.active{
  color: #000;
}
.pagination-flickr .pages a:hover{
  color: orange;
}


#pagination-flickr li {
  border: 0;
  font-size: 18px;
  list-style: none;
}

#pagination-flickr .previous-off,
#pagination-flickr .next-off {
  color: white;
  display: block;
  float: left;
  font-weight: bold;
}

#pagination-flickr .active {
  color: #318ce5;
  font-weight: bold;
  display: block;
  float: left;
  padding: 5px 6px 3px 3px;
}

#pagination-flickr a:link,
#pagination-flickr a:visited {
  color: black;
  display: block;
  float: left;
  padding: 5px 6px 3px 3px;
  text-decoration: none;
}

#pagination-flickr a:hover {
  color: #318ce5;
}

.previous-off button, .next button {
  color: white;
  width: 60px;
  height: 30px;
  border: 0;
  background-color: #318ce5;
}
