.agent_res {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
}

.agent_res img {
  max-width: 100%;
}

.agent_con {
  width: 700px;
  margin: 45px auto;
}

.agent_con_top {
  font-size: 40px;
  text-align: center;
}

.agent_con .agent_con_body{
  width: 100%;
  padding: 10px 0;
}
.agent_con .agent_con_body span {
  float: left;
  text-align: left;
  width: 186px;
  height: 100%;
  line-height: 45px;
  font-size: 23px;
}

.agent_con .agent_con_body input {
  width: 510px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 3px;
}


.agent_con_seven {
  width: 100%;
  padding-top: 26px;
  text-align: center;
}


.agent_con button {
  font-size: 28px;
  border: 0;
  background-color: #177a41;
  color: white;
  width: 58%;
  height: 45px;
  line-height: 45px;
  border-radius: 13px;
}
