<div class="wrap">
    <img src="/static/src/assets/logo1.jpg"/>
    <div class="title">注册信息</div>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="inp">
            <span class="aln"><span>账</span><span></span><span>号</span>:</span>
            <div class="username" *ngIf="registration">
                <span>{{ registration.cellPhone }}</span>
            </div>
        </div>
        <div class="inp">
            <span class="aln"><span>昵</span><span></span><span>称</span>:</span>
            <input class="username" type="text"
                   placeholder="昵称"
                   (keydown)="cleanerror()"
                   [(ngModel)]="registration.fullName" required autofocus
                   minLength=0
                   maxLength=50
                   [ngModelOptions]="{standalone: true}"
            />
        </div>
        <div class="inp">
            <span class="aln"><span>密</span><span></span><span>码</span>:</span>
            <input class="password" type="password"
                   placeholder="请输入密码"
                   [(ngModel)]="registration.password" required
                   minLength=6
                   maxLength=12
                   [ngModelOptions]="{standalone: true}"
            />
        </div>
        <div class="inp">
            <span class="con"><span>确认密码</span>:</span>
            <input class="conp" type="password"
                   placeholder="请再次输入"
                   [(ngModel)]="second_pwd" required
                   minLength=6
                   maxLength=12
                   [ngModelOptions]="{standalone: true}"
            />
        </div>
        <div class="inps" [hidden]="!error">
            <span>{{ error }}</span>
        </div>

        <div class="inp">
            <span>推荐人:</span>
            <input class="pnum" type="text"
                   placeholder="推荐人编号"
                   [(ngModel)]="registration.parentCode" required
                   (keyup)="getAgentName()"
                   minLength=2
                   maxLength=6
                   [ngModelOptions]="{standalone: true}"
            />
        </div>
        <div class="inp">
            <span>推荐人姓名:</span>
            <div class="pname" *ngIf="registration.parentCode">
                <span>{{ registration.parentName }}</span>
            </div>
        </div>
        <button type="submit" class="next" [disabled]="!userForm.valid">注册</button>
        <div [hidden]="!error">
            <span>{{ error }}</span>
        </div>

    </form>
</div>
