<header>
    <span>个&nbsp;人&nbsp;资&nbsp;料</span>
    <i (click)="torf = true"></i>
</header>
<section>
    <div class="info_reward" *ngIf="torf">
        <div class="clo" (click)="torf = false">X</div>
        <div class="con">
            <div>佣金管理办法是业务员佣金计算的基础，佣金管理办法给出佣金计算的策略、基数、周期，以及佣金发放方式等。</div>
            <div>在佣金计算过程中，涉及如下一些条件和参数：有效店铺：当已注册店铺满两次订货，店铺即为有效店铺；推荐资格：系统中注册成功的业务员初始时并不具备推荐资格，即业务员不能作为推荐人引荐其他人在系统中注册成为业务员。业务员的推荐资格可以通过两种方式获得
            —1、系统后台直接设定业务员有推荐资格；2、业务员维护/拓展店铺中，有两家以上有效店铺，则该业务员自动拥有推荐资格；</div>
            <div>5)	拓店奖金：在店铺成为有效店铺时（即店铺有两次订货，店铺即为有效店铺），则按照拓店奖金基数向该店铺的推荐人（即店铺所属禾中伙伴）发放拓店奖金。拓店奖金基数目前暂为100元/有效店铺，公司会随时调整。</div>
            <div>6)	育成奖金：在禾中伙伴获得拓店奖金时，同时给于其直接推荐人育成奖金，育成奖金暂定为拓店奖金的50%，公司可随时调整。即：如果店铺转为有效店铺时，伙伴A得到100元奖励，则A的直接推荐人同时得到100*50%=50元的育成奖。</div>
            <div>7)	增员奖金：在禾中伙伴获得拓店奖金时，同时给于其间接推荐人增员奖金，增员奖金暂定为拓店奖金的25%，公司可随时调整。即：如果店铺转为有效店铺时，伙伴A得到100元奖励，而伙伴C是A的间接推荐人，则伙伴A的间接推荐人同时得到100*25%=25元育成奖。</div>
        </div>
    </div>
    <div class="photo">
        <div class="pic"></div>
    </div>
    <div class="info">
        <div class="info_list">
            <div class="fl list_left">用户名：</div>
            <div class="fl list_right username">{{ profile.full_name }}</div>
        </div>
        <div class="info_list">
            <div class="fl list_left">编<i></i>码：</div>
            <div class="fl list_right num">{{ username }}</div>
        </div>
        <div class="info_list">
            <div class="fl list_left">手机号：</div>
            <div class="fl list_right order_counts">{{ profile.cellphone }}</div>
        </div>
        <div class="info_list">
            <div class="fl list_left">推荐人：</div>
            <div class="fl list_right order_money">{{ profile.parent_code }}</div>
        </div>
        <div class="info_list">
            <div class="fl list_left">推荐资格：</div>
            <div class="fl list_right brokerage">{{ hasRecommAuth }}</div>
        </div>
    </div>
    <div class="btn_a">
        <a class="fl change_pwd" routerLink="../password">修改密码</a>
        <button type="button" class="fr log_out" (click)="logout()">退出登录</button>
    </div>
</section>
