

        <header>
			<a class="fa" routerLink="../personal-info" routerLinkActive="active"></a>
			<div>修改密码</div>
		</header>
		<section>
			<div class="wrap">
				<div class="title">修改密码</div>
				<div class="inp">
					<span>原密码:</span>
					<input type="password" class="old_pwd" name="" id="old_pwd" placeholder="请输入原密码"/>
				</div>
				<div class="inp">
					<span>新密码:</span>
					<input type="password" class="new_pwd" name="" id="new_pwd" placeholder="请输入新密码"/>
				</div>
				<div class="inp">
					<span class="con">确认密码:</span>
					<input type="password" class="new_pwd" name="" id="new_pwd" placeholder="请再次输入新密码"/>
				</div>
				<div class="next" id="next">确认修改</div>
			</div>
		</section>




        <footer>

            <a routerLink="../dashboard" routerLinkActive="active" class="footer_first">
				<div class="bwrap">
					<i class="fa fa-home"></i>
					<span>首页</span>
				</div>
              </a>

			<a routerLink="../sales-center" routerLinkActive="active" class="footer_second">
				<div class="bwrap">

					<i class="fa fa-bank"></i>
					<span>我的店铺</span>


                </div>
			</a>
			<a routerLink="../store-center" routerLinkActive="active" class="footer_th">
				<div class="bwrap">


					<i class="fa fa-group"></i>
					<span>我的团队</span>

				</div>
			</a>

			<a routerLink="../personal-info" routerLinkActive="active" class="footer_fourth">
				<div class="bwrap">

					<i class="fa fa-address-card"></i>
					<span>个人资料</span>

				</div>
			</a>

       </footer>


        <div class="photo-cover" id="photo-cover">

		<i class="fa fa-close" onclick="hidecov()"></i>
		<div class="success_wrap">
			修改成功
			<i class="t"></i>
		</div>

		</div>

<script>
    var photoCover=document.getElementById('photo-cover');

		 function showcov(){
		 	photoCover.style.display="block";
		 }

		 function hidecov(){
		 	photoCover.style.display="none";
		 }
</script>
