<div class="wrap">
    <div class="table_wrap">
        <table id="customers" class="customers-top-line">
            <thead>
            <tr class="customers-top-line">
                <th>序号</th>
                <th>编号</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>正式员工</th>
                <th>推荐资格</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agent of agents; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ agent.user.username }}</td>
                <td>{{ agent.full_name }}</td>
                <td>{{ agent.cellphone }}</td>
                <td>
                    <div *ngIf="agent.isEmployee">是</div>
                    <div *ngIf="!agent.isEmployee">否</div>
                </td>
                <td>
                    <div *ngIf="agent.hasRecommAuth">是</div>
                    <div *ngIf="!agent.hasRecommAuth">否</div>
                </td>
                <td>
                    <button type="button" (click)="resetPwd(agent)">密码重置</button>
                    <button type="button" (click)="delAgent(agent)">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="page">
        <div class="pagination-flickr">
            <input type="button" class="btn btn-warning" value="<<" (click)="paginate(previouspg)"
                   [disabled]="!previouspg"/>
            <span> 共 {{ count }} 页 第 {{ pageNo }} 页 </span>
            <input type="button" class="btn btn-warning" value=">>" (click)="paginate(nextpg)"
                   [disabled]="!nextpg"/>
        </div>
    </div>
</div>
