<div class="wrap">
			<header>

				<div class="head_right"> 我&nbsp;的&nbsp;店&nbsp;铺 </div>
			</header>


		<section>

		<ul class="mystore">
			<li class="mystoreL">
				<a href="#">
				<div class="mystoreL_con">
					<img src="/static/src/assets/index4.jpg"/>
					<div class="mystoreL_con_one">有效店铺</div>
					<span class="mystoreL_con_num">70</span>
					<span class="mystoreL_con_two">家</span>
				</div>

				</a>



			</li>
			<li class="mystoreR">
				 <a href="#">
				 	<div class="mystoreR_con">
				 		<img src="/static/src/assets/index8.jpg"/>
				 		<div class="mystoreR_con_one">开单店铺</div>
					    <span class="mystoreR_con_num">8</span>
					    <span class="mystoreR_con_two">家</span>
				 	</div>
				 </a>

			</li>
		</ul>

			<div class="middel">
				<ul class="store_list">
					<li> <span> 1</span> .北京大兴区富康路188号   > </li>



				</ul>
			</div>

	</section>

    <footer>

        <a routerLink="../dashboard" routerLinkActive="active">
				<div class="bwrap">
					<i class="fa fa-home"></i>
					<span>首页</span>
				</div>
              </a>

			<a routerLink="../sales-center" routerLinkActive="active" class="footer_second">
				<div class="bwrap">

					<i class="fa fa-bank"></i>
					<span>我的店铺</span>


                </div>
			</a>
			<a routerLink="../store-center" routerLinkActive="active">
				<div class="bwrap">


					<i class="fa fa-group"></i>
					<span>我的团队</span>

				</div>
			</a>

			<a routerLink="../personal-info" routerLinkActive="active">
				<div class="bwrap">

					<i class="fa fa-address-card"></i>
					<span>个人资料</span>

				</div>
			</a>

        </footer>


</div>






